.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    flex-flow: column;
  }
  
.timer {
    font-size: 10rem;
    color: #005ea8;
    font-weight: 700;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.releaseKraken {
    font-size: 3rem;
    margin-bottom: 3rem;
}